In [ ]:
#Class: https://openclassrooms.com/fr/courses/4452741-decouvrez-les-librairies-python-pour-la-data-science/5574866-manipulez-les-donnees-contenues-dans-vos-dataframes

In [2]:
import pandas as pd

In [14]:
#https://www.kaggle.com/ikiulian/global-hospital-beds-capacity-for-covid19/data#
df = pd.read_csv("./dataset.csv")

In [5]:
df.head()

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
0,US,AK,aleutians east,63.588753,-154.493062,ICU,1000HAB,0.000000,3338,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
1,US,AK,aleutians west,63.588753,-154.493062,ICU,1000HAB,0.000000,5784,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
2,US,AK,anchorage,63.588753,-154.493062,ACUTE,1000HAB,2.182916,298225,2018,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
3,US,AK,anchorage,63.588753,-154.493062,ICU,1000HAB,0.244782,298225,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
4,US,AK,anchorage,63.588753,-154.493062,OTHER,1000HAB,0.191131,298225,2019,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...

In [12]:
df.describe(include = 'all')

,country,state,county,lat,lng,type,measure,beds,population,year,source,source_url
count,5713,5713,5713,5713.000000,5713.000000,5713,5713,5713.000000,5.713000e+03,5713.000000,5713,5713
unique,1,51,1850,NaN,NaN,4,1,NaN,NaN,NaN,2,2
top,US,TX,washington,NaN,NaN,ICU,1000HAB,NaN,NaN,NaN,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
freq,5713,476,61,NaN,NaN,3142,5713,NaN,NaN,NaN,3412,3412
mean,NaN,NaN,NaN,38.038590,-91.593572,NaN,NaN,1.647644,1.716983e+05,2018.280763,NaN,NaN
std,NaN,NaN,NaN,5.362105,13.230439,NaN,NaN,3.101818,4.624376e+05,0.907452,NaN,NaN
min,NaN,NaN,NaN,19.898682,-155.665857,NaN,NaN,0.000000,7.400000e+01,2012.000000,NaN,NaN
25%,NaN,NaN,NaN,33.836081,-99.901813,NaN,NaN,0.141784,1.708800e+04,2018.000000,NaN,NaN
50%,NaN,NaN,NaN,37.964253,-89.398528,NaN,NaN,0.616614,4.282600e+04,2018.000000,NaN,NaN
75%,NaN,NaN,NaN,41.492537,-82.907123,NaN,NaN,2.225851,1.370960e+05,2019.000000,NaN,NaN
max,NaN,NaN,NaN,63.588753,-69.445469,NaN,NaN,90.466352,1.010572e+07,2020.000000,NaN,NaN